setuptools<82
odoo-addon-connector_ecommerce @ git+https://github.com/OCA/connector-ecommerce.git@refs/pull/85/head#subdirectory=connector_ecommerce
odoo-addon-sale_automatic_workflow_payment_mode @ git+https://github.com/OCA/sale-workflow.git@refs/pull/4500/head#subdirectory=sale_automatic_workflow_payment_mode
