@charset "utf-8";
.dashboard_container {
  width: 100%;
}

.dashboard_main {
    background: #7c7bad;
    color: #fff !important;
    text-align: center !important;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.dashboard_main p{
    margin: 0px;
}

.dashboard_main:hover {
    background: #8071ad;
}

.dashboard_main .o_highlight{
  font-size: 30px;
  font-weight: bold;
}

.dashboard_actions {
    text-align: center;
}

.dashboard_actions h3{
    margin-top: 0px;
}

.dashboard_action {
    float: left;
    margin: 10px;
    border: solid lightgrey 1px;
    padding: 10px;
    min-width: 300px;
    min-height: 150px;
}

.dasboard-action-smart-button-nr {
    font-size: 1.3em;
    margin-bottom:0px;
}

.o_highlight {
  color: #fff;
}

.dashboard_image {
  width: 19%;
  display:inline-block;
  vertical-align: top;
}

.dashboard_image img{
  margin: 0 auto;
  display: block;

}

.dashboard_actions {
  display: inline-block;
  width: 100%;
}
